.root {
	width: 400px;
	padding: 50px;
	border: 1px solid #dedede;
	margin: 50px auto;
	button {
		background-color: #112c28 !important;
	}
}

.field {
	margin-bottom: 20px !important;
}

.title {
	text-align: center !important;
	font-weight: bold !important;
	margin-bottom: 30px !important;
}

.css-11pbhf2-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused.MuiOutlinedInput-notchedOutline {
	border-color: red !important;
}

.css-11pbhf2-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
	border-color: red !important;
}
